/* #Reset
================================================================================================= */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Media - Fluid Images - Video
======================================================= */
figure {
  margin: 0; }

img, object, embed, video {
  max-width: 100%;
  _width: 100%; }

/* Fluid images */
img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

/* Improve IE's resizing of images */
svg:not(:root) {
  overflow: hidden; }

/* Correct IE9 overflow */
img {
  height: auto; }

a {
  color: #777d80;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out; }
  a:focus, a:hover, a:active {
    outline: 0; }
  a:hover {
    color: #fd9638; }

h1, h2, h3, h4, h5 {
  margin-bottom: 0.35em;
  color: #313a3d;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 300; }

h1 {
  font-size: 4.5em; }

h2 {
  font-size: 3.25em; }

h3 {
  font-size: 2.75em; }

h4 {
  font-size: 1.75em; }

h5 {
  font-size: 1em; }

body {
  background: #efefef;
  font-size: 62.5%;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #b6b6b6; }

.content-wrapper, .wrapper {
  width: 85%;
  margin: 0 auto;
  max-width: 1100px; }

.wrapper {
  position: relative; }

header {
  background: #313a3d;
  border-bottom: 10px solid #fd9638;
  padding: 28px 0;
  box-shadow: 0 2px 8px 0 #afafaf; }
  header .wrapper img {
    width: 100px; }
  header .wrapper nav {
    position: absolute;
    right: -20px;
    top: 20px; }
    header .wrapper nav a {
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      font-size: 1.4em;
      letter-spacing: 0.1em;
      margin-left: 8px;
      padding: 10px 20px;
      background: #313a3d;
      -webkit-transition: all 333ms ease-in-out;
      -moz-transition: all 333ms ease-in-out;
      -o-transition: all 333ms ease-in-out;
      -ms-transition: all 333ms ease-in-out;
      transition: all 333ms ease-in-out; }
      header .wrapper nav a:hover {
        background: #4B5D64;
        color: white; }
      header .wrapper nav a.active {
        color: #fd9638; }

section {
  text-align: center;
  padding: 90px 0 110px; }
  section .icon {
    margin-bottom: 30px; }
  section h3 {
    margin-bottom: 15px; }
  section .blurb {
    width: 58.33333%;
    margin: 0 auto;
    font-size: 1.75em;
    line-height: 1.4em;
    text-align: left;
    margin-bottom: 60px; }
  section .button {
    position: relative;
    overflow: hidden;
    color: white;
    padding: 13px 50px;
    font-size: 1.4em;
    letter-spacing: 0.1em;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    -webkit-transition: all 333ms ease-in-out;
    -moz-transition: all 333ms ease-in-out;
    -o-transition: all 333ms ease-in-out;
    -ms-transition: all 333ms ease-in-out;
    transition: all 333ms ease-in-out; }
    section .button span {
      position: absolute;
      width: 100%;
      text-align: center;
      left: 0;
      top: -20px;
      opacity: 0;
      -webkit-transition: all 333ms ease-in-out;
      -moz-transition: all 333ms ease-in-out;
      -o-transition: all 333ms ease-in-out;
      -ms-transition: all 333ms ease-in-out;
      transition: all 333ms ease-in-out; }
      section .button span img {
        height: 0%; }
    section .button#work section .button {
      background: #fd9638; }
      section .button#work section .button span {
        padding-top: 12px; }
        section .button#work section .button span img {
          width: 12%; }
      section .button#work section .button:hover {
        background: gainsboro;
        color: gainsboro; }
    section .button:hover span {
      opacity: 0.6;
      top: 0; }

#intro {
  background: white;
  padding-bottom: 40px;
  margin-top: 40px;
  margin-bottom: 60px;
  border-top: 15px solid #313a3d; }
  #intro .icon {
    width: 16.66667%;
    margin: 0 auto;
    opacity: 0.2;
    margin-bottom: 40px;
    margin-top: 25px; }
  #intro .blurb {
    margin-bottom: 115px; }
  #intro .location img {
    display: block;
    margin: 0 auto 10px; }
  #intro .location a {
    background: white;
    padding: 5px 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    color: #313a3d;
    opacity: 0.5;
    -webkit-transition: all 333ms ease-in-out;
    -moz-transition: all 333ms ease-in-out;
    -o-transition: all 333ms ease-in-out;
    -ms-transition: all 333ms ease-in-out;
    transition: all 333ms ease-in-out; }
    #intro .location a:hover {
      opacity: 1;
      background: #e7ebec; }

#work {
  background: #313a3d;
  padding-bottom: 115px; }
  #work .icon {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 40px; }
  #work h3 {
    color: white; }

@-webkit-keyframes experiment-rotate {
  0% {
    -webkit-transform: rotate(0deg) skew(0deg) scale(1);
    opacity: 0.2; }

  50% {
    -webkit-transform: rotate(360deg) skew(5deg) scale(1.1);
    opacity: 0.5; }

  100% {
    -webkit-transform: rotate(720deg) skew(0deg) scale(1);
    opacity: 0.2; } }

@-moz-keyframes experiment-rotate {
  0% {
    -moz-transform: rotate(0deg) skew(0deg) scale(1);
    opacity: 0.2; }

  50% {
    -moz-transform: rotate(360deg) skew(5deg) scale(1.1);
    opacity: 0.5; }

  100% {
    -moz-transform: rotate(720deg) skew(0deg) scale(1);
    opacity: 0.2; } }

@-ms-keyframes experiment-rotate {
  0% {
    -ms-transform: rotate(0deg) skew(0deg) scale(1);
    opacity: 0.2; }

  50% {
    -ms-transform: rotate(360deg) skew(5deg) scale(1.1);
    opacity: 0.5; }

  100% {
    -ms-transform: rotate(720deg) skew(0deg) scale(1);
    opacity: 0.2; } }

@-o-keyframes experiment-rotate {
  0% {
    -o-transform: rotate(0deg) skew(0deg) scale(1);
    opacity: 0.2; }

  50% {
    -o-transform: rotate(360deg) skew(5deg) scale(1.1);
    opacity: 0.5; }

  100% {
    -o-transform: rotate(720deg) skew(0deg) scale(1);
    opacity: 0.2; } }

@keyframes experiment-rotate {
  0% {
    transform: rotate(0deg) skew(0deg) scale(1);
    opacity: 0.2; }

  50% {
    transform: rotate(360deg) skew(5deg) scale(1.1);
    opacity: 0.5; }

  100% {
    transform: rotate(720deg) skew(0deg) scale(1);
    opacity: 0.2; } }

@-webkit-keyframes experiment-counter-rotate {
  0% {
    -webkit-transform: rotate(0deg) skew(0deg) scale(1); }

  50% {
    -webkit-transform: rotate(-360deg) skew(2deg, 4deg) scale(0.8); }

  100% {
    -webkit-transform: rotate(-720deg) skew(0deg) scale(1); } }

@-moz-keyframes experiment-counter-rotate {
  0% {
    -moz-transform: rotate(0deg) skew(0deg) scale(1); }

  50% {
    -moz-transform: rotate(-360deg) skew(2deg, 4deg) scale(0.8); }

  100% {
    -moz-transform: rotate(-720deg) skew(0deg) scale(1); } }

@-ms-keyframes experiment-counter-rotate {
  0% {
    -ms-transform: rotate(0deg) skew(0deg) scale(1); }

  50% {
    -ms-transform: rotate(-360deg) skew(2deg, 4deg) scale(0.8); }

  100% {
    -ms-transform: rotate(-720deg) skew(0deg) scale(1); } }

@-o-keyframes experiment-counter-rotate {
  0% {
    -o-transform: rotate(0deg) skew(0deg) scale(1); }

  50% {
    -o-transform: rotate(-360deg) skew(2deg, 4deg) scale(0.8); }

  100% {
    -o-transform: rotate(-720deg) skew(0deg) scale(1); } }

@keyframes experiment-counter-rotate {
  0% {
    transform: rotate(0deg) skew(0deg) scale(1); }

  50% {
    transform: rotate(-360deg) skew(2deg, 4deg) scale(0.8); }

  100% {
    transform: rotate(-720deg) skew(0deg) scale(1); } }

#experiments {
  background: #fd9638;
  padding-top: 90px; }
  #experiments .icon-wrap {
    width: 20.83333%;
    margin: 0 auto;
    position: relative;
    height: 215px;
    margin-bottom: 50px; }
    #experiments .icon-wrap .icon {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      float: left;
      -webkit-transition: all 333ms ease-in-out;
      -moz-transition: all 333ms ease-in-out;
      -o-transition: all 333ms ease-in-out;
      -ms-transition: all 333ms ease-in-out;
      transition: all 333ms ease-in-out; }
      #experiments .icon-wrap .icon:first-child {
        z-index: 10;
        -webkit-animation: experiment-counter-rotate 180s infinite linear;
        -moz-animation: experiment-counter-rotate 180s infinite linear;
        -ms-animation: experiment-counter-rotate 180s infinite linear;
        -o-animation: experiment-counter-rotate 180s infinite linear;
        animation: experiment-counter-rotate 180s infinite linear; }
      #experiments .icon-wrap .icon:nth-child(2) {
        z-index: 1;
        -webkit-animation: experiment-rotate 40s infinite linear;
        -moz-animation: experiment-rotate 40s infinite linear;
        -ms-animation: experiment-rotate 40s infinite linear;
        -o-animation: experiment-rotate 40s infinite linear;
        animation: experiment-rotate 40s infinite linear; }
  #experiments .blurb {
    color: white; }
  #experiments .button {
    background: #313a3d; }
    #experiments .button span {
      padding-top: 11px; }
    #experiments .button:hover {
      background: gainsboro;
      color: gainsboro; }

#skills {
  background: #313a3d;
  padding-top: 100px;
  padding-bottom: 115px; }
  #skills img {
    width: 66.66667%;
    margin: 0 auto;
    display: block;
    margin-bottom: 75px; }
  #skills .button {
    background: #fd9638; }
    #skills .button span {
      padding-top: 9px; }
      #skills .button span img {
        width: 8%;
        margin-bottom: 0; }
    #skills .button:hover {
      background: gainsboro;
      color: gainsboro; }

#hire {
  background: white;
  margin-top: 60px;
  margin-bottom: 120px;
  border-top: 15px solid #313a3d; }
  #hire .icon {
    width: 21.66667%;
    margin: 0 auto;
    opacity: 0.2;
    margin-bottom: 35px; }
  #hire .blurb {
    margin-bottom: 40px; }
  #hire form {
    width: 58.33333%;
    margin: 0 auto; }
    #hire form .field {
      width: 100%;
      position: relative;
      margin-bottom: 15px; }
      #hire form .field label {
        text-transform: uppercase;
        position: absolute;
        top: 0;
        left: 0;
        background: #313a3d;
        width: 100%;
        padding: 19px 0;
        font-size: 1.45em;
        letter-spacing: 0.075em;
        -webkit-transition: all 333ms ease-in-out;
        -moz-transition: all 333ms ease-in-out;
        -o-transition: all 333ms ease-in-out;
        -ms-transition: all 333ms ease-in-out;
        transition: all 333ms ease-in-out; }
        #hire form .field label + span {
          font-family: 'SSStandard';
          opacity: 0;
          color: white;
          display: block;
          position: absolute;
          top: 17px;
          left: 7%;
          font-size: 2.5em;
          text-shadow: 1px 2px 0 #cd6302;
          -webkit-transition: all 333ms ease-in-out;
          -moz-transition: all 333ms ease-in-out;
          -o-transition: all 333ms ease-in-out;
          -ms-transition: all 333ms ease-in-out;
          transition: all 333ms ease-in-out; }
      #hire form .field input[type="text"],
      #hire form .field textarea {
        border: none;
        background: #e8e9ea;
        width: 80.5%;
        margin: 0;
        padding: 18px 0;
        padding-left: 19.5%;
        color: #313a3d;
        font-size: 1.4em;
        letter-spacing: 0.05em;
        text-transform: uppercase; }
        #hire form .field input[type="text"]#msg,
        #hire form .field textarea#msg {
          height: 18px;
          resize: none;
          -webkit-transition: all 333ms ease-in-out;
          -moz-transition: all 333ms ease-in-out;
          -o-transition: all 333ms ease-in-out;
          -ms-transition: all 333ms ease-in-out;
          transition: all 333ms ease-in-out; }
        #hire form .field input[type="text"]:focus, #hire form .field input[type="text"].focused,
        #hire form .field textarea:focus,
        #hire form .field textarea.focused {
          outline: none; }
          #hire form .field input[type="text"]:focus#msg, #hire form .field input[type="text"].focused#msg,
          #hire form .field textarea:focus#msg,
          #hire form .field textarea.focused#msg {
            padding-bottom: 150px; }
          #hire form .field input[type="text"]:focus + label, #hire form .field input[type="text"].focused + label,
          #hire form .field textarea:focus + label,
          #hire form .field textarea.focused + label {
            width: 18%;
            background: #fd9638;
            color: #313a3d; }
        #hire form .field input[type="text"].focused + label,
        #hire form .field textarea.focused + label {
          color: #fd9638; }
      #hire form .field:hover label {
        width: 18%;
        background: #313a3d;
        color: white; }
    #hire form input[type="submit"] {
      background: #fd9638;
      color: white;
      -webkit-appearance: none;
      border: none;
      text-transform: uppercase;
      -webkit-transition: all 333ms ease-in-out;
      -moz-transition: all 333ms ease-in-out;
      -o-transition: all 333ms ease-in-out;
      -ms-transition: all 333ms ease-in-out;
      transition: all 333ms ease-in-out; }
      #hire form input[type="submit"]:hover {
        background: #313a3d;
        color: #fd9638; }
      #hire form input[type="submit"]:focus {
        outline: none;
        background: #cd6302; }

footer {
  background: #313a3d;
  padding: 11px 0; }
  footer .wrapper {
    text-align: center; }
    footer .wrapper a {
      font-size: 0.8em;
      letter-spacing: 0.15em; }
      footer .wrapper a:first-child {
        position: absolute;
        left: 0; }
      footer .wrapper a:last-child {
        position: absolute;
        right: 0; }
  footer:hover .wrapper a:first-child, footer:hover .wrapper a:last-child {
    color: #fd9638; }
  footer:hover .wrapper a:nth-child(2) {
    color: white; }

/* Extras
======================================================= */
.go-top {
  display: none;
  position: fixed;
  bottom: 2em;
  right: 2em;
  padding: 1em 1em 0.8em 1em;
  background-color: #313a3d;
  font-size: 12px;
  color: white;
  text-decoration: none;
  opacity: 0.4; }
  .go-top:hover {
    opacity: 1;
    color: #fd9638; }

.first {
  margin-left: 0 !important; }

.last {
  margin-right: 0 !important; }

::selection {
  background: #fd9638;
  color: white; }

::-moz-selection {
  background: #fd9638;
  color: white; }

#resume .content-wrapper section {
  text-align: left;
  padding: 80px 0;
  margin-bottom: 50px; }
  #resume .content-wrapper section h2 {
    width: 83.33333%;
    margin: 0 auto;
    margin-bottom: 10px; }
  #resume .content-wrapper section h3 {
    width: 83.33333%;
    margin: 0 auto;
    margin-bottom: 50px;
    font-size: 3.8em; }
  #resume .content-wrapper section a {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: white; }
  #resume .content-wrapper section article {
    width: 83.33333%;
    margin: 0 auto; }
    #resume .content-wrapper section article h4 {
      letter-spacing: 0.1em; }
      #resume .content-wrapper section article h4 span {
        font-family: 'Lato', sans-serif;
        font-weight: 100; }
    #resume .content-wrapper section article p {
      font-size: 1.9em;
      line-height: 1.4em;
      letter-spacing: 0.05em; }
      #resume .content-wrapper section article p.job-location {
        text-transform: uppercase; }
    #resume .content-wrapper section article .job-clients {
      text-transform: uppercase;
      margin-top: 28px;
      font-size: 0.7em;
      letter-spacing: 0.2em;
      color: #fd9638;
      font-family: 'Lato', sans-serif;
      font-weight: 400; }
      #resume .content-wrapper section article .job-clients span {
        margin-left: 10px;
        color: white;
        font-family: 'Lato', sans-serif;
        font-weight: 300; }
        #resume .content-wrapper section article .job-clients span a {
          color: #b6b6b6; }
          #resume .content-wrapper section article .job-clients span a span {
            position: relative;
            top: 0.07em;
            left: -9px;
            opacity: 0;
            font-family: 'SSStandard';
            font-size: 0.8em;
            -webkit-transition: all 333ms ease-in-out;
            -moz-transition: all 333ms ease-in-out;
            -o-transition: all 333ms ease-in-out;
            -ms-transition: all 333ms ease-in-out;
            transition: all 333ms ease-in-out; }
          #resume .content-wrapper section article .job-clients span a:hover {
            color: white; }
            #resume .content-wrapper section article .job-clients span a:hover span {
              left: -4px;
              opacity: 1;
              color: #fd9638; }
  #resume .content-wrapper section#resume-intro {
    background: white;
    padding: 100px 0 110px;
    margin-top: 40px;
    border-top: 15px solid #313a3d; }
    #resume .content-wrapper section#resume-intro h2 {
      font-size: 3.1em; }
      #resume .content-wrapper section#resume-intro h2 span {
        color: #fd9638; }
    #resume .content-wrapper section#resume-intro p {
      font-size: 2.5em;
      line-height: 1.4em;
      width: 83.33333%;
      margin: 0 auto; }
  #resume .content-wrapper section#resume-experience {
    padding-top: 90px;
    background: #313a3d; }
    #resume .content-wrapper section#resume-experience h3 {
      color: #fd9638;
      padding-bottom: 14px;
      margin-bottom: 45px;
      border-bottom: 1px solid white; }
    #resume .content-wrapper section#resume-experience article {
      padding-bottom: 40px;
      margin-bottom: 50px;
      border-bottom: 1px solid #485559; }
      #resume .content-wrapper section#resume-experience article:last-child {
        margin-bottom: 20px;
        border-bottom: none; }
      #resume .content-wrapper section#resume-experience article h4 {
        color: white;
        font-size: 2.2em;
        margin-bottom: 10px; }
        #resume .content-wrapper section#resume-experience article h4 span {
          color: #b6b6b6; }
      #resume .content-wrapper section#resume-experience article p {
        margin-bottom: 10px; }
        #resume .content-wrapper section#resume-experience article p a {
          text-transform: none; }
        #resume .content-wrapper section#resume-experience article p.job-location {
          color: #fd9638;
          font-size: 1.2em;
          font-family: 'Lato', sans-serif;
          font-weight: 700;
          letter-spacing: 0.1em; }
        #resume .content-wrapper section#resume-experience article p.links a {
          text-transform: uppercase; }
        #resume .content-wrapper section#resume-experience article p.links:first-child {
          margin-top: 25px; }
  #resume .content-wrapper section#resume-education {
    background: #fd9638; }
    #resume .content-wrapper section#resume-education h3 {
      padding-bottom: 14px;
      border-bottom: 1px solid #313a3d; }
    #resume .content-wrapper section#resume-education article {
      margin-bottom: 60px; }
      #resume .content-wrapper section#resume-education article:last-child {
        margin-bottom: 30px; }
      #resume .content-wrapper section#resume-education article h4 {
        color: white;
        font-size: 2.5em;
        margin-bottom: 10px; }
      #resume .content-wrapper section#resume-education article .job-location {
        color: #313a3d;
        margin-bottom: 20px; }
      #resume .content-wrapper section#resume-education article .job-clients {
        color: #313a3d;
        margin-top: 0; }
  #resume .content-wrapper section#resume-qualifications {
    display: none;
    background: white;
    padding: 70px 0 100px;
    border-top: 15px solid #fd9638; }
    #resume .content-wrapper section#resume-qualifications h3 {
      margin-bottom: 38px;
      color: #313a3d; }
    #resume .content-wrapper section#resume-qualifications article .job-clients {
      margin-top: 15px; }
      #resume .content-wrapper section#resume-qualifications article .job-clients p {
        color: #313a3d;
        background: #eeeeee;
        padding: 10px 20px;
        margin-bottom: 10px; }
      #resume .content-wrapper section#resume-qualifications article .job-clients span {
        display: block;
        margin-left: 0;
        color: #b6b6b6;
        font-size: 2em;
        font-family: 'Lato', sans-serif;
        font-weight: 300; }
        #resume .content-wrapper section#resume-qualifications article .job-clients span a {
          color: #b6b6b6; }
      #resume .content-wrapper section#resume-qualifications article .job-clients:first-child span {
        margin-bottom: 25px; }
  #resume .content-wrapper section#hire {
    margin-bottom: 120px;
    margin-top: 0;
    text-align: center;
    background: white; }
    #resume .content-wrapper section#hire h3 {
      font-size: 4.25em;
      margin-top: 15px;
      margin-bottom: 25px; }
    #resume .content-wrapper section#hire .blurb {
      font-size: 1.9em; }

/* RESPONSIVE
============================================================================================== */
/* Retina-specific stuff here */
/* Other Sizes */
/* iPads (landscape) ----------- */
/* iPads (portrait) ----------- */
