@font-face {font-family: 'Novecentowide-Bold';src: url('/webfonts/novecento/25DFFC_0_0.eot');src: url('/webfonts/novecento/25DFFC_0_0.eot?#iefix') format('embedded-opentype'),url('/webfonts/novecento/25DFFC_0_0.woff') format('woff'),url('/webfonts/novecento/25DFFC_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Novecentowide-Light';src: url('/webfonts/novecento/25DFFC_1_0.eot');src: url('/webfonts/novecento/25DFFC_1_0.eot?#iefix') format('embedded-opentype'),url('/webfonts/novecento/25DFFC_1_0.woff') format('woff'),url('/webfonts/novecento/25DFFC_1_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Novecentowide-DemiBold';src: url('/webfonts/novecento/25DFFC_2_0.eot');src: url('/webfonts/novecento/25DFFC_2_0.eot?#iefix') format('embedded-opentype'),url('/webfonts/novecento/25DFFC_2_0.woff') format('woff'),url('/webfonts/novecento/25DFFC_2_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Novecentowide-Book';src: url('/webfonts/novecento/25DFFC_3_0.eot');src: url('/webfonts/novecento/25DFFC_3_0.eot?#iefix') format('embedded-opentype'),url('/webfonts/novecento/25DFFC_3_0.woff') format('woff'),url('/webfonts/novecento/25DFFC_3_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Novecentowide-Normal';src: url('/webfonts/novecento/25DFFC_4_0.eot');src: url('/webfonts/novecento/25DFFC_4_0.eot?#iefix') format('embedded-opentype'),url('/webfonts/novecento/25DFFC_4_0.woff') format('woff'),url('/webfonts/novecento/25DFFC_4_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Novecentowide-Medium';src: url('/webfonts/novecento/25DFFC_5_0.eot');src: url('/webfonts/novecento/25DFFC_5_0.eot?#iefix') format('embedded-opentype'),url('/webfonts/novecento/25DFFC_5_0.woff') format('woff'),url('/webfonts/novecento/25DFFC_5_0.ttf') format('truetype');}
 